.no-rackets__title {
  display: flex;
  color: var(--white);
  font-family: var(--secondary-font);
  font-size: 24px;
  font-weight: 700;
  margin: 50px 32px;
  text-align: center;
  text-transform: uppercase;
}

.no-rackets {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-color);
}

.create-link {
  font-size: 22px;
  font-family: var(--secondary-font);
  color: var(--white);
  border: 1px hidden;
  cursor: pointer;
  background-color: var(--primary-color);
  padding: 25px 60px;
  border-radius: 10px;
}
