.navigation-list__active.active {
  border-bottom: 1px solid var(--white);
  cursor: pointer;
}
.navigation-list__inactive {
  border: none;
}

.navigation {
  width: 100%;
  font-size: 22px;
  text-transform: uppercase;
  margin-top: 88px;
  font-weight: 700;
  color: var(--white);
  padding: 0 12px 15px 15px;
  background: var(--primary-color);
  box-shadow: 0 4px 4px 0 #000000;
  position: absolute;
  z-index: 1;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
  margin: 0 10px 0 10px;
  border-top: 1px solid var(--white);
}
