.list-page {
  padding: 170px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-color);
  min-height: 100vh;
}

.list-page__title {
  color: var(--white);
  font-family: var(--secondary-font);
  font-size: 24px;
  font-weight: 700;
  padding: 0 17px;
  text-align: center;
  text-transform: uppercase;
}
