.header-login {
  display: flex;
  flex-direction: row;
  padding: 15px 15px 0 15px;
  background-color: var(--primaryColor);
  box-shadow: 0 4px 4px 0 #000000;
}

.header-logout {
  display: flex;
  flex-direction: row;
  padding: 15px 15px 0 15px;
  background-color: var(--primaryColor);
  box-shadow: 0 4px 4px 0 #000000;
}

.header__logo {
  display: flex;
  justify-content: flex-end;
  width: 45px;
  height: 45px;
  margin: 5px 20px 24px 0;
}

.header__title {
  display: flex;
  flex-direction: column;
  font-family: var(--secondaryFont);
  width: 45%;
  font-size: 22px;
  text-transform: uppercase;
  margin: 0 45px 15px 0;
  font-weight: 700;
  vertical-align: baseline;
}

.header__logout {
  display: flex;
  height: fit-content;
  margin-top: 2px;
}
