.form {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 10px 0 36px 0;
  margin: 25px 20px 100px 20px;
}

.form-slot {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  gap: 15px;
}

.form__label {
  color: var(--white);
  font-size: 20px;
  font-weight: 700;
  font-family: var(--secondary-font);
}

.form__input {
  padding: 10px 13px;
  border-radius: 10px;
  margin-bottom: 25px;
  font-size: 19px;
  font-family: var(--primary-font);
  outline: none;
}

.form__textarea {
  padding: 10px 13px;
  border-radius: 10px;
  outline: none;
  font-family: var(--primary-font);
  font-size: 19px;
  resize: none;
}

.form__range {
  color: var(--white);
}

.big-button-solid {
  font-family: var(--primary-font);
  font-size: 22px;
  border: 1px hidden;
  border-radius: 20px;
  color: var(--white);
  background-color: var(--button-color);
  padding: 24px 56px;
}

.form__button {
  display: flex;
  justify-content: center;
  padding: 0 30px;
  margin-top: 25px;
  color: var(--white);
}

.detail-list {
  display: flex;
  flex-direction: row;
  margin: 0 2px 15px 3px;
  color: var(--white);
  font-family: var(--primary-font);
  gap: 14px;
  font-size: 16px;
}

.form-slot-range {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-left: 10px;
}
