.racket {
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.5);
  border: 4px solid #1b4078;
  overflow: hidden;
  max-width: 280px;
  height: 460px;
}

.racket__image {
  object-fit: cover;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.racket__container {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.racket__name {
  font-family: var(--secondary-font);
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  height: 64px;
  margin-top: 15px;
  padding: 0 15px;
}

.racket__atributes {
  font-family: var(--primary-font);
  display: grid;
  gap: 12px;
}

.button-fill {
  font-family: var(--primary-font);
  font-size: 18px;
  border: 1px hidden;
  border-radius: 20px;
  color: var(--white);
  background-color: var(--button-color);
  padding: 15px 12px;
}

.button-delete-container {
  position: absolute;
  display: flex;
}

.button-delete__icon {
  padding: 10px 10px 0 0;
}

.delete-icon {
  object-fit: cover;
}

.favorite-icon {
  object-fit: cover;
}

.button-favorite__icon {
  padding: 10px 0 0 10px;
}

.button-favorite-container {
  display: flex;
  position: absolute;
}

.icons-container {
  display: flex;
  justify-content: flex-end;
}
